<main role="main">
  <div class="alert alert-info" role="alert"><%%= get_flash(@conn, :info) %></div>
  <div class="alert alert-danger" role="alert"><%%= get_flash(@conn, :error) %></div>
  <%%= @inner_content %>
</main>
