<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= @project_name_camel_case %></title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/site.webmanifest">
    <link rel="stylesheet" href="<%%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%%= csrf_meta_tag() %>
  </head>
  <body class="font-sans antialiased bg-gray-800">
    <main role="main">
      <p class="px-2 leading-relaxed tracking-wide text-white bg-blue-500" role="alert"><%%= get_flash(@conn, :info) %></p>
      <p class="px-2 leading-relaxed tracking-wide text-white bg-red-500" role="alert"><%%= get_flash(@conn, :error) %></p>
      <%%= render @view_module, @view_template, assigns %>
      <%%= live_render(@conn, <%= @project_name_camel_case %>Web.Live.Example) %>
    </main>
    <script type="text/javascript" src="<%%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
